@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="container">
    <div id="products" class="row" data-category="@ViewBag.Categorey"></div>
</div>

<script>
    $(document).ready(function () {
        var category = $('#products').data('category');
        var safeCategory = encodeURIComponent(category);
        var url = '/api/Products/' + safeCategory;

        // تحميل جميع المنتجات عند تحميل الصفحة
        loadProducts('');

        // تفعيل البحث عند كتابة نص في مربع البحث
        $('.form-control').on('input', function () {
            var searchTerm = $(this).val(); // الحصول على القيمة المدخلة في مربع البحث
            loadProducts(searchTerm);
        });

        function loadProducts(searchTerm) {
            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    $('#products').empty(); // مسح المحتوى الحالي للمنتجات
                    $.each(data, function (index, product) {
                        // فحص اذا كان اسم المنتج أو رقم المنتج يحتوي على مصطلح البحث
                        if (product.name.toLowerCase().includes(searchTerm.toLowerCase()) || product.prodId.toString() === searchTerm) {
                            var html = '<div class="col-md-4">';
                            html += '<a href="/Product/ProductDetails/' + product.prodId + '" style="color: inherit; text-decoration: none;">';
                            html += '<div class="card m-3" style="width: 300px; height: 380px; background-image: url(' + product.imagePath + '); background-size: cover; position: relative; border: 0px solid black;">';
                            html += '<div class="card-body text-right" style="position: absolute; bottom: 0; right: 0; color: white; text-shadow: 1px 1px black;">';
                            html += '<h5 class="card-title">' + product.name + '</h5>';
                            html += '<p class="card-text">السعر: ' + product.cost + product.profitMargin + '</p>';
                            html += '</div></div>';
                            html += '</a>';
                            html += '</div>';
                            $('#products').append(html);
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('حدث خطأ أثناء تحميل البيانات: ' + textStatus + ', ' + errorThrown);
                }
            });
        }
    });



</script>


