@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<!-- HTML -->
<label for="filter">تصفية حسب حالة التأكيد:</label>
<input type="checkbox" id="filter">

<br />
<br />

<table id="basketsTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>رقم السلة</th>
            <th>اسم العميل</th>
            <th>الخصم</th>
            <th>الاجمالي</th>
            <th>حاله التاكيد</th>
            <th>الإجراءات</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<br />
<br />
<br />

<!-- jQuery -->
<script>
    $(document).ready(function () {
       
        var table = $('#basketsTable').DataTable({
            ajax: {
                url: "/api/Baskets", // تحديث هذا بناءً على موقع API الخاص بك
                type: "GET",
                datatype: "json",
                dataSrc: ""
            },
            columns: [
                { data: "basektId" },
                { data: "account.name" },
                { data: "discount" },
                { data: "total" },
                { data: "paymentVerification" },
                {
                    data: null,
                    defaultContent: '<button class="btn-delete">حذف</button> <button class="btn-details">تفاصيل</button>'
                }
            ]
        });

        $('#basketsTable').on('click', '.btn-delete', function () {
            var data = table.row($(this).parents('tr')).data();
            deleteBasket(data.basektId);
        });

        $('#basketsTable').on('click', '.btn-details', function () {
            var data = table.row($(this).parents('tr')).data();
            window.location.href = '/Baskets/BasketDetails/' + data.basektId;
        });

        // إضافة مستمع الحدث لمربع الاختيار "تصفية حسب حالة التأكيد"
        $('#filter').on('change', function () {
            $.fn.dataTable.ext.search.push(
                function (settings, data, dataIndex) {
                    var filter = $('#filter').prop('checked');
                    var status = data[4].trim() === 'true';
                    if (filter) {
                        return !status;
                    }
                    return status;
                }
            );
            table.draw();
            $.fn.dataTable.ext.search.pop();
        });

        
    });

    $('#filter').prop('checked', true);

    function deleteBasket(basektId) {
        $.ajax({
            url: "/api/Baskets/" + basektId,
            type: "DELETE",
            success: function (result) {
                // إعادة تحميل الجدول
                $('#basketsTable').DataTable().ajax.reload();
            }
        });
    }
</script>
